.header {
  height: var(--header-height);
  box-sizing: border-box;
}

.main {
  padding-block-start: 0;
  height: 100%;
  display: flex;
}

@media screen and (min-width: 768px) {
  .main {
    padding-block-start: var(--header-height);
    height: calc(100% - var(--header-height));
  }
}
