.container {
  margin: 0 auto;
  position: relative;
  transform: translateY(0);
  height: 100%;
  scroll-snap-type: y mandatory; /* height CAN'T USE PERCENT */
  touch-action: none;
}

.itemContainer {
  width: var(--short-video-width);
  height: 100%;
  scroll-snap-align: start;
  position: relative;
  padding-block: 0%;
  margin: auto;
}

.itemContainer + .itemContainer {
  margin-block-start: 0%;
}

@media screen and (min-width: 768px) {
  .itemContainer {
    padding-block: 2% 4%;
  }

  .itemContainer + .itemContainer {
    margin-block-start: -3%;
  }
}

.container::-webkit-scrollbar {
  width: 0em;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: transparent;
}
