.progress-container {
  position: relative;
  margin: 2rem 0;
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
}

.progress-inner-bar {
  width: 60%; /* dynamic values sync with bar point */
  height: 200%;
  background-color: #e33232;
  transition: width 0.5s ease-in-out;
}

.progress-bar-point {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #e33232;
  position: absolute;
  top: 50%;
  left: 60%; /* dynamic values sync with progress-inner */
  transform: translate(-50%, -50%);
  transition: left 0.5s ease-in-out;
}
