.progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  line-height: 3rem;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
  padding: 0.5rem;
}
