.front {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: transparent;
}

.progress-container {
  position: relative;
  margin: 2rem 0;
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
}

.progress-inner-bar {
  width: 60%; /* dynamic values sync with bar point */
  height: 200%;
  background-color: #e33232;
  transition: width 0.5s ease-in-out;
}

.progress-bar-point {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #e33232;
  position: absolute;
  top: 50%;
  left: 60%; /* dynamic values sync with progress-inner */
  transform: translate(-50%, -50%);
  transition: left 0.5s ease-in-out;
}

.profile {
  display: flex;
  gap: 4px;
  align-items: center;
}

.profileIcon {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
}

.profileActions {
}

.pivotButton {
  padding: 2px;
  border-radius: 2px;
  line-height: 0rem;
  margin: auto;
  margin: 0.5rem 0.25rem;
}

.info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0.5rem 0 1rem;
}
