.front {
  position: absolute;
  bottom: 100px;
  left: 0;
  background-color: transparent;
  color: #fff;
}

.profileActions {
  inset-inline-end: 1rem;
  width: fit-content;
  margin-left: auto;
}

.info {
  inset-inline-start: 1rem;
}
.profile {
  display: flex;
  gap: 4px;
  align-items: center;
}

.profileIcon {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
  visibility: visible;
}

.pivotButton {
  padding: 2px;
  border-radius: 2px;
  line-height: 0rem;
  margin: auto;
  margin: 0.5rem 0.25rem;
}
