.front {
  position: absolute;
  bottom: 100px;
  left: 0;
  background-color: transparent;
  color: #fff;
}

.profileActions {
  /* calc(viewport width - self width - padding right) */
  transform: translateX(calc(100vi - 100% - 1rem));
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media screen and (min-width: 768px) {
  .profileActions {
    /* calc(fixed short video width + padding left)*/
    transform: translateX(calc(var(--short-video-width) + 1rem));
    bottom: 0;
    gap: 1rem;
  }
}

.info {
  inset-inline-start: 1rem;
}
.profile {
  display: flex;
  gap: 4px;
  align-items: center;
}

.profileIcon {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
  visibility: visible;
}

.pivotButton {
  padding: 2px;
  border-radius: 2px;
  line-height: 0rem;
  margin: auto;
  margin: 0.5rem 0.25rem;
}
