.sidebar {
  overflow-y: auto;
  font-size: 0.9rem;
  padding-block-end: 0.5rem;
  background-color: #fff;
  box-sizing: border-box;
}

.section {
  padding: 1rem;
}

.footer > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: 500;
}

.footer > ul {
  margin-block-end: 1rem;
}

.copyright {
  padding-inline-start: 1rem;
  padding-block-end: 1rem;
  font-weight: 200;
}
